{% extends 'nav.html' %}

{% block  title %}
Loja_django
{% endblock title %}

{% block style %}
    <style>
        .btn{
            font-family: "Raleway", sans-sherif;
            font-weight: 500;
            font-size: 16px;
            letter-spacing: 1px;
            display: inline-block;
            padding: 10px 30px;
            border-radius: 50px;
            transition: 0.55s;
            color: #ffffff; 
            backgroubnd-color: #1f9825;
            border: 2px solid #000000
            

        }
    </style>
{% endblock style %}

{% block body %} 
<section id="contact" class="contact">
    <div class="container">

<div class="section-title" data-aos="fade-up">
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-4">
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>

<h1 data-aos="fade-up">Cadastrar</h1>
<div class="container" data-aos="fade-up" data-aos-delay="400">
</div>
    <form action="/signup" method="post"><input type="hidden" name="csrfmiddlewaretoken" value="ZIaK6oNACns589uLWdVx56jl97RblkqrMRIwlASaR6LJ4wPwjZolMZLjSE33PQj">
      <br>

      <label for="email">Email</label>
      <div calss="form-group">
      <input type="email" class="form-control" id="email" name="email" required>
      </div>
      <label for="pass1">Senha</label>
      <div calss="form-group">
      <input type="password" class="form-control" id="pass1" name="pass1" required>
      </div>
      <label for="pass2">Confirmar Senha</label>
      <div calss="form-group">
      <input type="password" class="form-control" id="pass2" name="pass2" required>
      </div>
      <br>
      <button type="submit" class="btn">Cadastrar</button>

      <br>
      Já é cadastrado ? <a href="/login">Login</a>
      <br>
      <a href="/">Home</a>
      </form>
    </div>
    </div>
    <div class="col-md-6"</div>
    </div>
</div>
</div>
</div>
</section>


{% endblock body %}